@media only screen and (max-width:1080px) {
    .sidetoc {
        display: none !important;
    }
}

@media only screen and (min-width:1080px) {
    main {
        position: relative;
        padding-right: 191px;
        max-width: 877px !important;
    }
    .sidetoc {
        margin-left: 0;
        margin-right: auto;
        /*left: calc(100% + (var(--content-max-width))/4 - 180px);*/
        left: calc(100% - 217px);
        position: absolute;
    }
    .pagetoc {
        position: fixed;
        width: 237px;
        height: calc(100vh - var(--menu-bar-height) - 10rem);
        overflow: auto;
        z-index: 1000;
    }
    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}

body {
    font-size: 18px;
    scroll-behavior: smooth;
}

.page {
    background-image: url("../topography.png");
}

.sidebar-scrollbox {
    background-image: url("../topography.png");
}

.content {
    padding: 0;
}

.page-footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
    color: gray;
}

/* 修改章节目录的间距 */
.chapter li.chapter-item {
    /* 没有文件时的文字颜色 */
    color: #939da3;
    margin-top: 1rem;
}

/* 修改滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b8b8b8;
    /* background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15,rgb(177, 21, 244)),color-stop(0.37,rgb(245, 26, 201)),color-stop(0.65,rgb(245, 128, 11)),color-stop(0.80,rgb(248, 224, 7))); */
    transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #efefef;
}

/* 表格靠左对齐 */
table {
    margin-left: 0 !important;
}

/* 只使用底部的页面跳转，因为左右两边的宽跳转会被 page-toc 遮盖 */
@media only screen and (max-width: 2560px) {
    .nav-wide-wrapper { display: none; }
    .nav-wrapper { display: block; }
}
@media only screen and (max-width: 2560px) {
    .sidebar-visible .nav-wide-wrapper { display: none; }
    .sidebar-visible .nav-wrapper { display: block; }
}


/* 修改顶部图标大小 */
/* #menu-bar {
    font-size: 17px;
} */
/* 修改 github 样式 */
.fa-github {
    font-weight: 550;
}
.fa-github:after{
    content: " 加入贡献🌟";
    margin-left: 4px;
}

/* Fix on mobile device */
code {
    word-break: break-word;
}

/* 修复可编辑代码框顶部过窄的问题 */
code.editable, .ace_scroller {
    top: 10px;
}

/* 修改书侧边目录的区域分隔行样式 */
.chapter .spacer {
    background-color: #99CCFF;
    height: 2px;
    margin-top: 8px;
}

.chapter li .md-viewed {
    color: #777;
}

img:hover {
    cursor: pointer;
}

.zoom-img {
    transition: all 0.7s ease;
}

.zoom-img:hover {
    transform: scale(1.2);
}

.center-image {
    display: flex;
    justify-content: center;
}

.no-border {
    border: 0px;
}

.home-h1 {
    margin-bottom: 0;
}

.home-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #000;
}

.home-box .box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 185px;
    margin: 2%;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #c9e3fa;
    cursor: pointer;
    transition: all 0.2s ease;
}

.home-box .box:hover {
    transform: scale(1.07);
}

.home-box .box div:first-child {
    font-size: 25px;
    margin-bottom: 10px;
}

.home-box .box div:last-child {
    font-size: 16px;
}

@media only screen and (max-width:650px) {
    .home-box {
        flex-direction: column;
    }
    .home-box .box {
        width: 70%;
    }
    .zoom-font {
        font-size: smaller;
    }
}

.hover-win0 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.hover-win1 {
    display: inline;
    text-decoration: underline;
    background-color: rgb(237, 254, 255);
    padding: 2px;
    border-radius: 5px;
}

.hover-win2 {
    display: none;
    max-width: 500px;
    position: absolute;
    z-index: 99;
    background-color: #99CCFF;
    padding: 1%;
    transform: translateY(-117%);
    border: 2px solid #000;
    border-radius: 15px;
    word-break: break-all;
}

.hover-win0:hover .hover-win2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    animation: scale 0.3s ease;
}

@keyframes scale {
    0% {
        transform: translateY(-77%);
    }
    100% {
        transform: translateY(-117%);
    }
}

a:hover {
    text-decoration: none !important;
}
